#containerLogin
{
	padding: 40px;
	background: #191919;
	text-align: center;
	background-color: RGBA(0, 0 , 0, 0.8);
	border-radius: 10px;
}

#containerLogin h1
{
	color: white;
	text-transform: uppercase;
	font-weight: 500;
}

#containerLogin input[type = "text"], #containerLogin input[type = "password"]
{
	border: 0;
	background: none;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #3498db;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
}

#containerLogin input[type = "text"]:focus, #containerLogin input[type = "password"]:focus
{
	width: 280px;
	border-color: #2ecc71;
}

#containerLogin #bouttonConnexion
{
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #FFEFD5;
	padding: 14px 40px;
	width: 200px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;
}

#containerLogin input[type= "submit"]:hover
{
	background: #2ecc71
	
}


#containerLogin h1
{
	font-family: "quadrata", sans-serif;
	font-size: 20px;
}

#containerLogin input[type = "text"]
{
	border-color: gold;
}

#containerLogin input[type = "password"]
{
	border-color:  silver;
}