h1{
	margin-top: 0 !important;
	font-family: 'Poiret One', cursive;
	color: #27496D;
}

h3{
	font-family: 'Poiret One', cursive;
	color: #27496D;
}

[type="radio"]:not(:checked), [type="radio"]:checked{
	opacity: 1 !important;
	pointer-events: auto !important;
	cursor: pointer;
}

button{
	margin: 2% auto;
	border-radius: 25px;
	padding: 2%;
	border: 1px white solid;
	background-color: #142850;
	color: white;
	width: 100%;
}

.buttonCreateQuestion{
	width: 16%;
	padding-top: 1%;
	padding-bottom: 1%;
	margin-top: 2%;
}

button:hover{
	background-color: #274f9c;
	cursor: pointer;
}

.style{
	text-align: center !important;
	width: 30% !important;
	border: 1px solid #27496D !important;
	border-radius: 25px !important;
}

label {
	color : #27496D !important;
	font-size : 16px !important;
	font-family: 'Audiowide', cursive;
	margin-top: 2.5% !important;
}

input[type=radio]{
	margin-left: 5px;
	margin-top: 6px;
}

input[type=checkbox]{
	margin-left: 5px;
	margin-top: 5px;
}

#modifQuestion{
	width: 18%;
	padding-top: 1%;
	padding-bottom: 1%;
	margin-top: 2%;
}

#confirmModifQuestion{
	width: 16%;
	padding-top: 1%;
	padding-bottom: 1%;
	margin-top: 2%;
}

#supprQuestion{
	width: 20%;
	padding-top: 1%;
	padding-bottom: 1%;
	margin-top: 2%;
}

select{
	text-align: center !important;
	width: 35% !important;
	border: 1px solid #27496D !important;
	border-radius: 25px !important;
	background-color: #DAE1E7 !important;
	margin-left: 32.5% !important;
}

#answer1Container {
	margin-top: 2.25%;
}

.answer1Container {
	margin-top: 2.25%;
}

#labelQuestion {
	margin-bottom: 2.25%;
}

#labelQuestionCreated {
	margin-bottom: 2.25%;
}